# Climate data

In [3]:
import os
import pandas as pd

In [4]:
#now mount to drive and set the working directory to our shared drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Concatenate historical and export

In [8]:
scenario = 'historical'
scenario_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/malawi/climate_csv/' + scenario + '/'
os.chdir(scenario_path)
variables = list(dict.fromkeys(os.listdir(), None))
variables.remove('.DS_Store')
variables

['pr',
 'huss',
 'hurs',
 'ps',
 'tas',
 'sfcwind',
 'rlds',
 'rsds',
 'tasmin',
 'tasmax']

In [10]:
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  print(len(files))

4
4
4
4
4
4
4
4
4
4

In [11]:
scenario_concat = pd.DataFrame(columns = ['time', 'lat', 'lon', 'value', 'variable', 'scenario'])
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  for file in files:
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns = {variable:'value'})
    scenario_concat = pd.concat([scenario_concat, df], ignore_index=False)

In [12]:
scenario_concat

              time    lat    lon       value variable    scenario
0       2001-01-01  -9.75  33.75    0.000000       pr  historical
1       2001-01-01  -9.75  34.25    0.000044       pr  historical
2       2001-01-01 -10.25  33.75    0.000000       pr  historical
3       2001-01-01 -10.25  34.25    0.000056       pr  historical
4       2001-01-01 -10.75  33.75    0.000000       pr  historical
...            ...    ...    ...         ...      ...         ...
142423  2010-12-31 -15.75  35.25  299.709750   tasmax  historical
142424  2010-12-31 -15.75  35.75  299.380500   tasmax  historical
142425  2010-12-31 -16.25  34.75  303.368930   tasmax  historical
142426  2010-12-31 -16.25  35.25  302.523320   tasmax  historical
142427  2010-12-31 -16.75  35.25  303.677280   tasmax  historical

[4843020 rows x 6 columns]

In [13]:
saving_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/concatenated/climate/' + scenario + '/'
os.chdir(saving_path)

In [14]:
scenario_concat.to_csv(scenario + '_all_variables.csv')

## Concatenate ssp126 and export

In [19]:
scenario = 'ssp126'
scenario_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/malawi/climate_csv/' + scenario + '/'
os.chdir(scenario_path)
variables = list(dict.fromkeys(os.listdir(), None))
variables.remove('.DS_Store')
variables

['sfcwind',
 'rlds',
 'tasmin',
 'huss',
 'ps',
 'rsds',
 'pr',
 'tasmax',
 'hurs',
 'tas']

In [20]:
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  print(len(files))

9
9
9
9
9
9
9
9
8
9

In [21]:
scenario_concat = pd.DataFrame(columns = ['time', 'lat', 'lon', 'value', 'variable', 'scenario'])
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  for file in files:
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns = {variable:'value'})
    scenario_concat = pd.concat([scenario_concat, df], ignore_index=False)

In [22]:
scenario_concat

              time    lat    lon       value variable scenario
0       2081-01-01  -9.75  33.75    0.954380  sfcwind   ssp126
1       2081-01-01  -9.75  34.25    1.135308  sfcwind   ssp126
2       2081-01-01 -10.25  33.75    0.785167  sfcwind   ssp126
3       2081-01-01 -10.25  34.25    1.170422  sfcwind   ssp126
4       2081-01-01 -10.75  33.75    0.881527  sfcwind   ssp126
...            ...    ...    ...         ...      ...      ...
142423  2090-12-31 -15.75  35.25  297.658000      tas   ssp126
142424  2090-12-31 -15.75  35.75  296.704680      tas   ssp126
142425  2090-12-31 -16.25  34.75  302.177950      tas   ssp126
142426  2090-12-31 -16.25  35.25  300.728580      tas   ssp126
142427  2090-12-31 -16.75  35.25  301.755680      tas   ssp126

[12107862 rows x 6 columns]

In [23]:
saving_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/concatenated/climate/' + scenario + '/'
os.chdir(saving_path)

In [24]:
scenario_concat.to_csv(scenario + '_all_variables.csv')

## Concatenate ssp370 and export

In [ ]:
scenario = 'ssp370'
scenario_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/malawi/climate_csv/' + scenario + '/'
os.chdir(scenario_path)
variables = list(dict.fromkeys(os.listdir(), None))
variables.remove('.DS_Store')
variables

['tasmin',
 'tas',
 'tasmax',
 'ps',
 'huss',
 'pr',
 'rsds',
 'hurs',
 'sfcwind',
 'rlds']

In [ ]:
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  print(len(files))

9
9
9
9
9
9
9
9
9
9

In [ ]:
scenario_concat = pd.DataFrame(columns = ['time', 'lat', 'lon', 'value', 'variable', 'scenario'])
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  for file in files:
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns = {variable:'value'})
    scenario_concat = pd.concat([scenario_concat, df], ignore_index=False)

In [ ]:
scenario_concat

              time    lat    lon      value variable scenario
0       2091-01-01  -9.75  33.75  298.12418   tasmin   ssp370
1       2091-01-01  -9.75  34.25  293.89166   tasmin   ssp370
2       2091-01-01 -10.25  33.75  295.03660   tasmin   ssp370
3       2091-01-01 -10.25  34.25  298.46548   tasmin   ssp370
4       2091-01-01 -10.75  33.75  292.32004   tasmin   ssp370
...            ...    ...    ...        ...      ...      ...
142462  2080-12-31 -15.75  35.25  408.44357     rlds   ssp370
142463  2080-12-31 -15.75  35.75  407.97220     rlds   ssp370
142464  2080-12-31 -16.25  34.75  418.09167     rlds   ssp370
142465  2080-12-31 -16.25  35.25  423.95065     rlds   ssp370
142466  2080-12-31 -16.75  35.25  422.07095     rlds   ssp370

[12250290 rows x 6 columns]

In [ ]:
saving_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/concatenated/climate/' + scenario + '/'
os.chdir(saving_path)

In [ ]:
scenario_concat.to_csv(scenario + '_all_variables.csv')

## Concatenate ssp585 and export

In [ ]:
variables = ['sfcwind', 'rsds', 'tas', 'tasmax', 'tasmin', 'hurs', 'huss', 'pr', 'ps', 'rlds']

In [ ]:
scenario = 'ssp585'
scenario_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/malawi/climate_csv/' + scenario + '/'
os.chdir(scenario_path)
variables = list(dict.fromkeys(os.listdir(), None))
variables.remove('.DS_Store')
variables

['tasmin',
 'tas',
 'tasmax',
 'ps',
 'huss',
 'pr',
 'rsds',
 'hurs',
 'sfcwind',
 'rlds']

In [ ]:
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  print(len(files))

9
9
9
9
9
9
9
9
9
9

In [ ]:
scenario_concat = pd.DataFrame(columns = ['time', 'lat', 'lon', 'value', 'variable', 'scenario'])
for variable in variables:
  variable_path = scenario_path + '/' + variable + '/'
  os.chdir(variable_path)
  files = list(dict.fromkeys(os.listdir(), None))
  for file in files:
    df = pd.read_csv(file, index_col=0)
    df = df.rename(columns = {variable:'value'})
    scenario_concat = pd.concat([scenario_concat, df], ignore_index=False)

In [ ]:
saving_path = '/content/drive/Shareddrives/Spatial_Term_Paper/data/concatenated/climate/' + scenario + '/'
os.chdir(saving_path)

In [ ]:
scenario_concat.to_csv(scenario + '_all_variables.csv')